<div class="addqueue" align="center">
    <h4>Add Queue</h4>
</div>
<div class="col addqueue" align="center">
    <form align="center" name="form" (ngSubmit)="onSubmit()">
        <div class="col-6">
            <b>Queue:</b>
            <input placeholder="Queue" minlength="4" class="form-control" [(ngModel)]="queue" type="text" name="queue">
            <input placeholder="message" minlength="4" type="text" class="form-control" [(ngModel)]="message" name="message">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        <div>
        </div>
    </form>
    <br>
<div align="center">
    <b>Queue:</b>{{queueOutput}}<br><b>Message:</b>{{messageOutput}}
</div>
</div>