<div class="removequeue" align="center">
    <div id ="removequeuetext" class ="removequeuetext">
        <p>Are you sure you want to delete the queue?</p>
    </div>
    <div id ="removequeuetext" class ="removemessagetext">
        <p>Are you sure you want to delete the message?</p>
    </div>
    <div align="center">
        <table class ="removebuttonsTable">
            <tr>
                <td><input class="removebuttons" type="button" id="deleteYes" value="Yes"></input></td>
                <td><input class="removebuttons" type="button" id="deleteNo" value="No"></input></td>
            </tr>
        </table>
    </div>
</div>