<div class="removequeue" align="center">
	<div id ="removequeuetext" class ="removequeuetext">
    	<p>Are you sure you want to delete the Queue?</p>
    </div>
    <div id ="removemessagetext" class ="removemessagetext">
    	<p>Are you sure you want to delete the message?</p>
    </div>
    <div>
        <table class ="removebuttonsTable">
            <tr>
                <td><input type="button" id="deleteYes">Yes</input></td>
                <td><input type="button" id="deleteNo">No</input></td>
            </tr>
        </table>
    </div>
</div>