<html>

<body>
    <div class="bodyContent">
        <div align='center' style="font-weight: bold;">Queues</div><br>

        <table align='center' style="width: 80%;text-align: center;" border="1px" >
            <tr>
                <th>Queues</th>
                <th>Messages</th>
            </tr>
            <tr *ngFor="let item of pageData;let i = index">
                <td>{{item.queue}}</td>
                <td>{{item.message}}</td>
            </tr>
        </table>
    </div>

</body>

</html>